In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("europaenergy_today.csv")

# Remove all the missing values – countries or regions where we have no data
df = df[df['price(eur/mwh)'].notna()]

# And remove the column with local currency – it is always missing
df = df.drop(['price(currency/mwh)'], axis=1)

In [32]:
df1 = df.groupby('country')['price(eur/mwh)'].mean()

In [33]:
df1.columns = ['country', 'price', 'date']
df1

country
Austria            23.001563
Belgium            13.705417
Bulgaria           17.866667
Croatia            17.172917
Czech Republic     16.380417
Denmark            17.470833
Estonia            18.233750
Finland            18.233750
Germany            15.001667
Greece            237.872083
Hungary            17.747917
Ireland           181.593750
Italy             193.144583
Latvia             18.233750
Lithuania          18.233750
Luxembourg         15.001667
Netherlands        18.144167
Norway             86.040903
Poland             45.021667
Portugal            6.697083
Romania            17.866250
Serbia             42.997917
Slovakia           17.975000
Slovenia           16.864583
Spain               6.697083
Sweden             18.233750
Switzerland         6.565417
Name: price(eur/mwh), dtype: float64

In [39]:
df1.to_csv('price_long.csv', mode='a', index=True, header=True)

In [42]:
df = pd.read_csv('price_long.csv')
df['date'] = pd.to_datetime('today').strftime("%m/%d/%Y")
df

           country  price(eur/mwh)        date
0          Austria       23.001562  01/01/2023
1          Belgium       13.705417  01/01/2023
2         Bulgaria       17.866667  01/01/2023
3          Croatia       17.172917  01/01/2023
4   Czech Republic       16.380417  01/01/2023
5          Denmark       17.470833  01/01/2023
6          Estonia       18.233750  01/01/2023
7          Finland       18.233750  01/01/2023
8          Germany       15.001667  01/01/2023
9           Greece      237.872083  01/01/2023
10         Hungary       17.747917  01/01/2023
11         Ireland      181.593750  01/01/2023
12           Italy      193.144583  01/01/2023
13          Latvia       18.233750  01/01/2023
14       Lithuania       18.233750  01/01/2023
15      Luxembourg       15.001667  01/01/2023
16     Netherlands       18.144167  01/01/2023
17          Norway       86.040903  01/01/2023
18          Poland       45.021667  01/01/2023
19        Portugal        6.697083  01/01/2023
20         Romania       17.866250  01/01/2023
21          Serbia       42.997917  01/01/2023
22        Slovakia       17.975000  01/01/2023
23        Slovenia       16.864583  01/01/2023
24           Spain        6.697083  01/01/2023
25          Sweden       18.233750  01/01/2023
26     Switzerland        6.565417  01/01/2023

In [44]:
#Reorganize them
df1 = df[['date', 'country', 'price(eur/mwh)']]
df1

          date         country  price(eur/mwh)
0   01/01/2023         Austria       23.001562
1   01/01/2023         Belgium       13.705417
2   01/01/2023        Bulgaria       17.866667
3   01/01/2023         Croatia       17.172917
4   01/01/2023  Czech Republic       16.380417
5   01/01/2023         Denmark       17.470833
6   01/01/2023         Estonia       18.233750
7   01/01/2023         Finland       18.233750
8   01/01/2023         Germany       15.001667
9   01/01/2023          Greece      237.872083
10  01/01/2023         Hungary       17.747917
11  01/01/2023         Ireland      181.593750
12  01/01/2023           Italy      193.144583
13  01/01/2023          Latvia       18.233750
14  01/01/2023       Lithuania       18.233750
15  01/01/2023      Luxembourg       15.001667
16  01/01/2023     Netherlands       18.144167
17  01/01/2023          Norway       86.040903
18  01/01/2023          Poland       45.021667
19  01/01/2023        Portugal        6.697083
20  01/01/2023         Romania       17.866250
21  01/01/2023          Serbia       42.997917
22  01/01/2023        Slovakia       17.975000
23  01/01/2023        Slovenia       16.864583
24  01/01/2023           Spain        6.697083
25  01/01/2023          Sweden       18.233750
26  01/01/2023     Switzerland        6.565417

In [46]:
df2 = df.pivot_table(index = 'date', columns = 'country', values = 'price(eur/mwh)', aggfunc = np.mean)
df2

country,Austria,Belgium,Bulgaria,Croatia,Czech Republic,Denmark,Estonia,Finland,Germany,Greece,...,Norway,Poland,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland
date,,,,,,,,,,,,,,,,,,,,,
01/01/2023,23.001562,13.705417,17.866667,17.172917,16.380417,17.470833,18.23375,18.23375,15.001667,237.872083,...,86.040903,45.021667,6.697083,17.86625,42.997917,17.975,16.864583,6.697083,18.23375,6.565417